@charset "UTF-8";
/*dans le terminal, lancer
./dart-sass/sass SCSS/style.scss CSS/style.css --watch
ca indique de lancer sass, se baser sur le fichier style scss, générer le fichier style css, et mettre a jour a chaque sauvegarde
*/
/* Les variables */
/*Section fonts*/
@font-face {
  font-family: "Shrikhand";
  src: url("../fonts/Shrikhand-Regular.ttf") format("truetype");
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Medium.ttf") format("truetype");
  font-style: normal;
}
@font-face {
  font-family: "RobotoLight";
  src: url("../fonts/Roboto-Light.ttf") format("truetype");
  font-style: normal;
}
/* Les mixin */
/* Les Keyframes */
@keyframes apparition {
  0% {
    transform: translateY(40px);
    opacity: 0;
  }
  25% {
    transform: translateY(30px);
    opacity: 0;
  }
  50% {
    transform: translateY(20px);
    opacity: 0;
  }
  75% {
    transform: translateY(10px);
    opacity: 0.3;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
/* Règle générale à toute les pages */
body {
  margin: 0;
  font-family: "Roboto";
}

.max-width-container {
  margin-right: auto;
  margin-left: auto;
  max-width: 300px;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  cursor: pointer;
  border: 0 #fff solid;
  width: 200px;
  height: 40px;
  background: linear-gradient(to top left, #9356DC, #FF79DA);
  color: #fff;
  box-shadow: 0 4px 4px #d1d1d1;
}
button:hover {
  background: linear-gradient(to top left, #985ede, #ff93e1);
  box-shadow: 0 5px 3px #d9d9d9;
}

/*Tous les liens*/
a {
  text-decoration: none;
  color: #000;
  cursor: pointer;
}

/*Header*/
header {
  display: flex;
  justify-content: center;
  align-items: initial;
}

.Titre {
  display: flex;
  width: 330px;
  font-family: "Shrikhand";
  display: flex;
  justify-content: center;
  align-items: initial;
}
.Titre a {
  display: flex;
  align-items: center;
  color: #000;
  margin-left: 10px;
  margin-right: 10px;
}
.Titre h1 {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 10px;
  margin-top: 10px;
}

/* footer */
footer {
  font-family: "Shrikhand";
  padding-left: 20px;
  padding-top: 20px;
  margin-top: -50px;
  /* sert a corriger l'écart produit par le changement de position sous la bannière */
  padding-bottom: 2px;
  color: #fff;
  background-color: #353535;
}
footer .footer_contact {
  color: #fff;
}
footer .footer_contact:hover {
  color: #b7b7b7;
}

/*PAGE ACCUEIL*/
/* Chargement de la page */
.loading {
  /* couleurs à changer */
  display: flex;
  align-items: center;
  height: 570px;
  margin-bottom: 1000px;
  animation: stoploader 0.5s linear 2s both;
}
.loading .dot {
  position: relative;
  width: 2em;
  height: 2em;
  margin: 0.8em;
  border-radius: 50%;
  animation: stoploader 0.5s linear 2s both;
}
.loading .dot::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: inherit;
  border-radius: inherit;
  animation: wave 2s ease-out infinite;
}
.loading .dot:nth-child(1) {
  background: #7ef9ff;
}
.loading .dot:nth-child(1)::before {
  animation-delay: 0.2s;
}
.loading .dot:nth-child(2) {
  background: #89cff0;
}
.loading .dot:nth-child(2)::before {
  animation-delay: 0.4s;
}
.loading .dot:nth-child(3) {
  background: #4682b4;
}
.loading .dot:nth-child(3)::before {
  animation-delay: 0.6s;
}
.loading .dot:nth-child(4) {
  background: #0f52ba;
}
.loading .dot:nth-child(4)::before {
  animation-delay: 0.8s;
}
.loading .dot:nth-child(5) {
  background: #000080;
}
.loading .dot:nth-child(5)::before {
  animation-delay: 1s;
}

@keyframes wave {
  50%, 75% {
    transform: scale(2.5);
  }
  80%, 100% {
    opacity: 0;
  }
}
@-webkit-keyframes stoploader {
  /*  ----------------------l reste une petite marge a supprimer -----------------------   */
  0% {
    opacity: 1;
  }
  80% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    display: none;
    visibility: hidden;
    height: 0;
  }
}
@keyframes stoploader {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    display: none;
    visibility: hidden;
    margin-top: 0;
    margin-bottom: 0;
    height: 0;
  }
}
/* Va de pair avec la classe loader de index.html (retirée pour l'instant).
sujet à voir car flou pour ma part */
/* Section sous le header avant les restaurants */
.utilisateur--localisation {
  display: flex;
  justify-content: center;
  align-items: initial;
  background-color: #eaeaea;
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: 0 -5px 3px #d1d1d1;
}
.utilisateur--localisation .fa-map-marker-alt {
  margin-right: 20px;
}

.bloc_sous_header {
  background-color: #f7f7f7;
  padding-top: 1px;
  padding-bottom: 40px;
}
.bloc_sous_header .Description_application {
  font-family: "RobotoLight";
  text-align: center;
  padding-bottom: 20px;
}
.bloc_sous_header .Description_application h2 {
  font-family: "Roboto";
  margin-right: auto;
  margin-left: auto;
  width: 80%;
}

/* deuxième div */
.Application--fonctionnement {
  margin-bottom: 70px;
}

.Fonctionnement--details {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f7f7f7;
  box-shadow: 0 4px 4px #e6e6e6;
  border-radius: 30px;
  margin-bottom: 20px;
  height: 80px;
}
.Fonctionnement--details .details_nombres {
  display: flex;
  justify-content: center;
  align-items: initial;
  position: relative;
  left: -5px;
  background-color: #9356DC;
  color: #fff;
  width: 20px;
  height: 20px;
  align-items: center;
  border-radius: 10px;
  font-size: small;
}
.Fonctionnement--details .fas {
  margin-right: 25px;
  margin-left: 25px;
  color: #9356DC;
}
.Fonctionnement--details .details_phrases {
  margin-left: 0;
  margin-right: auto;
}
.Fonctionnement--details:hover {
  background-color: #f4eefc;
  box-shadow: 0 5px 3px #d9d9d9;
}

/* liste des restaurants*/
.Liste_restaurants {
  background-color: #f7f7f7;
  padding-bottom: 100px;
  padding-top: 40px;
}
.Liste_restaurants h1 {
  margin-right: 20px;
  margin-left: 20px;
  /* attention cela impacte aussi les h1 sous les photos */
}
.Liste_restaurants .restaurants {
  min-width: 300px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 4px 4px #e6e6e6;
  color: #000;
  margin-bottom: 20px;
  overflow: hidden;
}
.Liste_restaurants .restaurants:hover a img {
  transform: scale(1.25);
  transform-origin: bottom;
  transition: all 0.4s;
}
.Liste_restaurants .restaurants .restaurant--picture {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  transition: all 0.4s;
  transform-origin: bottom;
}
.Liste_restaurants .restaurants h1 {
  margin-bottom: 0;
}
.Liste_restaurants .restaurants .restaurant_localisation {
  font-family: "RobotoLight";
  margin-right: 20px;
  margin-left: 20px;
}
.Liste_restaurants .restaurants .fa-heart {
  width: 20px;
  margin-left: 274px;
  display: flex;
  justify-content: flex-end;
  position: relative;
  left: -20px;
  top: -30px;
  color: grey;
  transition: transform 400ms, color 400ms;
}
.Liste_restaurants .restaurants .fa-heart:hover + .coeur {
  transform: scale(1);
}
.Liste_restaurants .restaurants .fa-heart:hover {
  color: #9356DC;
}
.Liste_restaurants .restaurants .coeur {
  width: 20px;
  margin-left: 274px;
  position: relative;
  left: -20px;
  top: -45px;
  transform-origin: 10px 5px;
  transform: scale(0);
  background: -webkit-linear-gradient(top right, #9356DC, #FF79DA);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.Liste_restaurants .restaurants .coeur:hover {
  transform: scale(1);
}

/* PAGE RESTAURANT*/
/*body*/
.banniere_restaurant {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.Menu_du_restaurant {
  position: relative;
  top: -50px;
  background-color: #f7f7f7;
  padding-top: 1px;
  padding-bottom: 1px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}
.Menu_du_restaurant h1 {
  padding-top: 20px;
  margin-left: 20px;
  font-family: "Shrikhand";
}
.Menu_du_restaurant h1, .Menu_du_restaurant .fa-heart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 10px;
}

.section_des_menus > div:nth-child(1) {
  animation: apparition 1000ms 0.2s;
  animation-fill-mode: both;
  animation-timing-function: linear;
}
.section_des_menus > div:nth-child(2) {
  animation: apparition 1000ms 0.4s;
  animation-fill-mode: both;
  animation-timing-function: linear;
}
.section_des_menus > div:nth-child(3) {
  animation: apparition 1000ms 0.6s;
  animation-fill-mode: both;
  animation-timing-function: linear;
}
.section_des_menus > div:nth-child(4) {
  animation: apparition 1000ms 0.8s;
  animation-fill-mode: both;
  animation-timing-function: linear;
}
.section_des_menus > div:nth-child(5) {
  animation: apparition 1000ms 1s;
  animation-fill-mode: both;
  animation-timing-function: linear;
}
.section_des_menus > div:nth-child(6) {
  animation: apparition 1000ms 1.2s;
  animation-fill-mode: both;
  animation-timing-function: linear;
}
.section_des_menus > div:nth-child(7) {
  animation: apparition 1000ms 1.4s;
  animation-fill-mode: both;
  animation-timing-function: linear;
}
.section_des_menus > div:nth-child(8) {
  animation: apparition 1000ms 1.6s;
  animation-fill-mode: both;
  animation-timing-function: linear;
}
.section_des_menus > div:nth-child(9) {
  animation: apparition 1000ms 1.8s;
  animation-fill-mode: both;
  animation-timing-function: linear;
}
.section_des_menus > div:nth-child(10) {
  animation: apparition 1000ms 2s;
  animation-fill-mode: both;
  animation-timing-function: linear;
}
.section_des_menus > div:nth-child(11) {
  animation: apparition 1000ms 2.2s;
  animation-fill-mode: both;
  animation-timing-function: linear;
}
.section_des_menus > div:nth-child(12) {
  animation: apparition 1000ms 2.4s;
  animation-fill-mode: both;
  animation-timing-function: linear;
}
.section_des_menus > div:nth-child(13) {
  animation: apparition 1000ms 2.6s;
  animation-fill-mode: both;
  animation-timing-function: linear;
}
.section_des_menus > div:nth-child(14) {
  animation: apparition 1000ms 2.8s;
  animation-fill-mode: both;
  animation-timing-function: linear;
}
.section_des_menus > div:nth-child(15) {
  animation: apparition 1000ms 3s;
  animation-fill-mode: both;
  animation-timing-function: linear;
}
.section_des_menus > div:nth-child(16) {
  animation: apparition 1000ms 3.2s;
  animation-fill-mode: both;
  animation-timing-function: linear;
}
.section_des_menus > div:nth-child(17) {
  animation: apparition 1000ms 3.4s;
  animation-fill-mode: both;
  animation-timing-function: linear;
}
.section_des_menus > div:nth-child(18) {
  animation: apparition 1000ms 3.6s;
  animation-fill-mode: both;
  animation-timing-function: linear;
}
.section_des_menus > div:nth-child(19) {
  animation: apparition 1000ms 3.8s;
  animation-fill-mode: both;
  animation-timing-function: linear;
}
.section_des_menus > div:nth-child(20) {
  animation: apparition 1000ms 4s;
  animation-fill-mode: both;
  animation-timing-function: linear;
}
.section_des_menus > div:nth-child(21) {
  animation: apparition 1000ms 4.2s;
  animation-fill-mode: both;
  animation-timing-function: linear;
}
.section_des_menus > div:nth-child(22) {
  animation: apparition 1000ms 4.4s;
  animation-fill-mode: both;
  animation-timing-function: linear;
}
.section_des_menus > div:nth-child(23) {
  animation: apparition 1000ms 4.6s;
  animation-fill-mode: both;
  animation-timing-function: linear;
}
.section_des_menus > div:nth-child(24) {
  animation: apparition 1000ms 4.8s;
  animation-fill-mode: both;
  animation-timing-function: linear;
}
.section_des_menus > div:nth-child(25) {
  animation: apparition 1000ms 5s;
  animation-fill-mode: both;
  animation-timing-function: linear;
}
.section_des_menus > div:nth-child(26) {
  animation: apparition 1000ms 5.2s;
  animation-fill-mode: both;
  animation-timing-function: linear;
}
.section_des_menus > div:nth-child(27) {
  animation: apparition 1000ms 5.4s;
  animation-fill-mode: both;
  animation-timing-function: linear;
}
.section_des_menus > div:nth-child(28) {
  animation: apparition 1000ms 5.6s;
  animation-fill-mode: both;
  animation-timing-function: linear;
}
.section_des_menus > div:nth-child(29) {
  animation: apparition 1000ms 5.8s;
  animation-fill-mode: both;
  animation-timing-function: linear;
}
.section_des_menus > div:nth-child(30) {
  animation: apparition 1000ms 6s;
  animation-fill-mode: both;
  animation-timing-function: linear;
}
.section_des_menus > div:nth-child(31) {
  animation: apparition 1000ms 6.2s;
  animation-fill-mode: both;
  animation-timing-function: linear;
}
.section_des_menus > div:nth-child(32) {
  animation: apparition 1000ms 6.4s;
  animation-fill-mode: both;
  animation-timing-function: linear;
}
.section_des_menus > div:nth-child(33) {
  animation: apparition 1000ms 6.6s;
  animation-fill-mode: both;
  animation-timing-function: linear;
}
.section_des_menus > div:nth-child(34) {
  animation: apparition 1000ms 6.8s;
  animation-fill-mode: both;
  animation-timing-function: linear;
}
.section_des_menus > div:nth-child(35) {
  animation: apparition 1000ms 7s;
  animation-fill-mode: both;
  animation-timing-function: linear;
}
.section_des_menus > div:nth-child(36) {
  animation: apparition 1000ms 7.2s;
  animation-fill-mode: both;
  animation-timing-function: linear;
}
.section_des_menus > div:nth-child(37) {
  animation: apparition 1000ms 7.4s;
  animation-fill-mode: both;
  animation-timing-function: linear;
}
.section_des_menus > div:nth-child(38) {
  animation: apparition 1000ms 7.6s;
  animation-fill-mode: both;
  animation-timing-function: linear;
}
.section_des_menus > div:nth-child(39) {
  animation: apparition 1000ms 7.8s;
  animation-fill-mode: both;
  animation-timing-function: linear;
}
.section_des_menus > div:nth-child(40) {
  animation: apparition 1000ms 8s;
  animation-fill-mode: both;
  animation-timing-function: linear;
}
.section_des_menus > div:nth-child(41) {
  animation: apparition 1000ms 8.2s;
  animation-fill-mode: both;
  animation-timing-function: linear;
}
.section_des_menus > div:nth-child(42) {
  animation: apparition 1000ms 8.4s;
  animation-fill-mode: both;
  animation-timing-function: linear;
}
.section_des_menus > div:nth-child(43) {
  animation: apparition 1000ms 8.6s;
  animation-fill-mode: both;
  animation-timing-function: linear;
}
.section_des_menus > div:nth-child(44) {
  animation: apparition 1000ms 8.8s;
  animation-fill-mode: both;
  animation-timing-function: linear;
}
.section_des_menus > div:nth-child(45) {
  animation: apparition 1000ms 9s;
  animation-fill-mode: both;
  animation-timing-function: linear;
}
.section_des_menus > div:nth-child(46) {
  animation: apparition 1000ms 9.2s;
  animation-fill-mode: both;
  animation-timing-function: linear;
}
.section_des_menus > div:nth-child(47) {
  animation: apparition 1000ms 9.4s;
  animation-fill-mode: both;
  animation-timing-function: linear;
}
.section_des_menus > div:nth-child(48) {
  animation: apparition 1000ms 9.6s;
  animation-fill-mode: both;
  animation-timing-function: linear;
}
.section_des_menus > div:nth-child(49) {
  animation: apparition 1000ms 9.8s;
  animation-fill-mode: both;
  animation-timing-function: linear;
}
.section_des_menus > div:nth-child(50) {
  animation: apparition 1000ms 10s;
  animation-fill-mode: both;
  animation-timing-function: linear;
}
.section_des_menus .detail_menu_plats {
  width: 100%;
  transition: width 500ms;
}
.section_des_menus > h3 {
  font-family: "RobotoLight";
  padding-top: 20px;
  margin-left: 10px;
  padding-bottom: 10px;
  border-bottom: 3px #99E2D0 solid;
  width: 50px;
  /* sert a changer la taille de la bordure verte*/
}
.section_des_menus .menu_plats {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  background-color: #fff;
  font-family: "RobotoLight";
  box-shadow: 0 4px 4px #e6e6e6;
  border-radius: 20px;
  cursor: pointer;
}
.section_des_menus .menu_plats h3 {
  margin-bottom: 0;
  font-family: "Roboto";
  margin-left: 10px;
}
.section_des_menus .menu_plats .menu_details {
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
  padding-bottom: 10px;
  margin-left: 10px;
}
.section_des_menus .menu_plats .menu_details p {
  width: 80%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
}
.section_des_menus .menu_plats .menu_prix {
  font-family: "Roboto";
  width: 40px;
  padding-left: 10px;
}
.section_des_menus .menu_plats .Animation_selection_menu {
  display: flex;
  background-color: #99E2D0;
  width: 0;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  transition: width 500ms;
  transform: width(50px);
  transform-origin: right;
}
.section_des_menus .menu_plats .Animation_selection_menu .fa-check-circle {
  color: #fff;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(0deg);
}
.section_des_menus .menu_plats .Animation_selection_menu:hover {
  transition: width 500ms ease-in-out;
  width: 50px;
}
.section_des_menus .menu_plats:hover > .Animation_selection_menu {
  transition: width 500ms ease-in-out;
  width: 50px;
}
.section_des_menus .menu_plats:hover > .Animation_selection_menu .fa-check-circle {
  transition: transform 500ms ease-in-out;
  transform: rotate(360deg);
}
.section_des_menus .menu_plats:hover > .detail_menu_plats {
  transition: width 500ms ease-in-out;
  width: 84%;
}

.boutton_commander {
  margin-top: 50px;
  margin-bottom: 50px;
}

/*footer*/
.infos_footer {
  font-family: "Roboto";
  /*insérer media queries ici */
}
.infos_footer ul {
  list-style-type: none;
  padding-left: 0;
}
.infos_footer ul li {
  margin-bottom: 10px;
}
.infos_footer .fa-utensils, .infos_footer .fa-hands-helping {
  margin-right: 10px;
  width: 20px;
}

/*
Questions à poser

loeader : comment ça marche ?

Comment organiser les pages html ?Dossier ou non ? noms en durs ou non ?

CSS
7-1
peut-être adapter
dossiers :
variables
mixin
fonctions

*/
/*
TO DO list

1 Faire les animations 

2 passer au W3C, tester sur firefox

3 Faire les media queries (voir exemple footer)

4 créer chaque restaurant




Finir les animations
Finir la version responsive
Checker le W3C
Objectifs secondaires :
version tablette / desktop : voir les réarrengements
préparer la soutenance (en dernier objectif si tout est terminé au dessus)
*/

/*# sourceMappingURL=style.css.map */
