/*dans le terminal, lancer
./dart-sass/sass SCSS/style.scss CSS/style.css --watch
ca indique de lancer sass, se baser sur le fichier style scss, générer le fichier style css, et mettre a jour a chaque sauvegarde
*/

/*
Questions à poser
Comment organiser les pages html ?Dossier ou non ? noms en durs ou non ?

Importance des outils vus en cours ?
c'est à dire ce qui est le plus utilisé en général
BEM ?
variables, mixin, extentions ?
listes, maps ?
fonctions ?
Conditions, boucles ?

Pour les imports, faut-il que je fasse 7 dossiers comme dans le cours ?

Autoprefixer, utile ? (me semble lourd pour peu de resultats)

*/

/*Section fonts*/
@font-face
{
    font-family: 'Shrikhand';
    src: url("../fonts/Shrikhand-Regular.ttf") format("truetype");
    font-style:normal;
}

@font-face
{
    font-family: 'Roboto';
    src: url("../fonts/Roboto-Medium.ttf") format("truetype");
    font-style:normal;
}

@font-face
{
    font-family: 'RobotoLight';
    src: url("../fonts/Roboto-Light.ttf") format("truetype");
    font-style:normal;
}

/* Les variables */
$taille-regular : 'Roboto';
$espacement_petit : 10px;
$espacement_moyen : 20px;
$blanc : #fff;
$gris-clair : rgb(234,234,234);
$gris-sombre : rgb(53,53,53);
$couleur-primaire : #9356DC;
$couleur-secondaire : #FF79DA;
$couleur-tertiaire : #99E2D0;

/* Les mixin */
@mixin font-logo()
{
    font-family: 'Shrikhand';
}

@mixin font-text($taille : $taille-regular)
{
    font-family: $taille;
}

@mixin marges-auto($specification : auto)
{
    margin-right: $specification;
    margin-left: $specification;
}

@mixin flex_center($align-center : initial) /*Celle ci permet d'aligner automatiquement sur l'axe horizontal, avec vertical en option*/
{
    display: flex;
    justify-content: center;
    align-items: $align-center;
}

/* Règle générale à toute la page */
body {
    margin : 0;
    @include font-text();
}

.max-width-container {
    @include marges-auto();
    max-width: 330px;
}

/*Header*/
header {
    @include font-logo();
    @include flex_center();
    h1 {
        margin-bottom: $espacement_petit;
        margin-top: $espacement_petit;
    }
}

/* Section sous le header avant les restaurants */

.bloc_sous_header {
    background-color: darken($blanc, 3%);
    padding-top: 1px;
    padding-bottom: 40px;
}

.utilisateur--localisation {
    @include flex_center();
    background-color: $gris-clair;
    padding-top: $espacement_moyen;
    padding-bottom: $espacement_moyen;
    box-shadow: 0 -5px 3px darken($gris-clair, 10%);
}

.fa-map-marker-alt {
    margin-right: 20px;
}


.Description_application {
    @include font-text('RobotoLight');
    text-align : center;
    padding-bottom: $espacement_moyen;
    h2 {
        @include font-text();
        @include marges-auto();
        width : 80% ;
    }
}

button {
    @include flex_center(center);
    border-radius: 20px;
    border: 0 $blanc solid;
    width: 200px;
    height: 40px;
    background: linear-gradient(to top left, $couleur-primaire, $couleur-secondaire);
    color: $blanc;
    box-shadow: 0 4px 4px darken($gris-clair, 10%);
}

/* deuxième div */

.Application--fonctionnement {
    margin-bottom: 70px;
}

.Fonctionnement--details {
    @include flex_center(center);
    background-color: darken($blanc, 3%);
    box-shadow: 0 4px 4px darken($blanc, 10%);
    border-radius: 30px;
    margin-bottom: $espacement_moyen;
    height: 80px;
    .details_nombres {
        position: relative;
        left: -5px;
        background-color: $couleur-primaire;
        color: $blanc;
        width: $espacement_moyen;
        height: $espacement_moyen;
        text-align: center;
        align-content: center;
        border-radius: 10px;
        font-size: small;
    }
    .fas {
        @include marges-auto(25px);
        color: $couleur-primaire;
    }
    .details_phrases {
        margin-left: 0;
        margin-right: auto;
    }
}

/* liste des restaurants*/

.Liste_restaurants {
    background-color: $gris-clair;
}


.restaurant--picture { /* A modifier, c'est juste pour l'aperçu */
    width: 200px;
    height: 150px;
}

/* footer */
footer {
    @include font-logo();
    padding-left: $espacement_moyen;
    padding-top: $espacement_petit;
    padding-bottom: 2px;
    color : $blanc;
    background-color: $gris-sombre;
}

