/* Les variables */
$taille-regular : 'Roboto';
$textefin : 'RobotoLight';
$espacement_petit : 10px;
$espacement_moyen : 20px;
$blanc : #fff;
$noir : #000;
$gris-clair : rgb(234,234,234);
$gris-sombre : rgb(53,53,53);
$couleur-primaire : #9356DC;
$couleur-secondaire : #FF79DA;
$couleur-tertiaire : #99E2D0;
$couleur-gradiant : linear-gradient(to top left, $couleur-primaire, $couleur-secondaire);