/*PAGE ACCUEIL*/
/* Chargement de la page */

.loading {
    $colors: $couleur-primaire, $couleur-chargement-un, $couleur-secondaire, $couleur-chargement-deux, $couleur-tertiaire;
    display: flex;
    align-items: center;
    height: 100%;
    margin-bottom: 1000px;
    position: fixed;
    background-color: $blanc;
    width: 100%;
    margin-right:auto;
    margin-left:auto;
    justify-content: center;
    z-index: 20;
    animation: stoploader 0.5s linear 2s both;
    .dot {
        position: relative;
        width: 2em;
        height: 2em;
        margin: 0.8em;
        border-radius: 50%;
        animation: stoploader 0.5s linear 2s both;
      &::before {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        background: inherit;
        border-radius: inherit;
        animation: wave 2s ease-out infinite;
      }
      @for $i from 1 through 5 {
        &:nth-child(#{$i}) {
          background: nth($colors, $i);
  
          &::before {
            animation-delay: $i * 0.2s;
          }
        }
      }
    }
  }
  
  


/* Section sous le header avant les restaurants */
.utilisateur--localisation {
    @include flex_center();
    background-color: $gris-clair;
    padding-top: $espacement_moyen;
    padding-bottom: $espacement_moyen;
    box-shadow: 0 -5px 3px darken($gris-clair, 10%);
    @media screen and (min-width: 1200px) {
        font-size: 1.5em;
    } 
    .fa-map-marker-alt {
        margin-right: 20px;
    }
}

.bloc_sous_header {
    background-color: darken($blanc, 3%);
    padding-top: 1px;
    padding-bottom: 40px;
    .Description_application {
        @include font-text($textefin);
        text-align : center;
        padding-bottom: $espacement_moyen;
        @media screen and (min-width: 1200px) {
            font-size: 1.5em;
        } 
        h2 {
            @include font-text();
            @include marges-auto();
            width : 80% ;
        }
    }
}

/* deuxième div */

.Application--fonctionnement {
    margin-bottom: 70px;
    @media screen and (min-width: 768px) and (max-width: 1199px)  {
        width: 500px;
    } 
    @media screen and (min-width: 1200px){
        width: 100%;
        display: flex;
        justify-content: space-between;
        height: 150px;
        flex-wrap: wrap;
    }
    h2 {
        @media screen and (min-width: 768px) {
            width: 100%;
            height: 30px;
            @include flex_center();
            font-size: 2em;
        }
    }
}

.Fonctionnement--details {
    @include flex_center(center);
    background-color: darken($blanc, 3%);
    box-shadow: 0 4px 4px darken($blanc, 10%);
    border-radius: 30px;
    margin-bottom: $espacement_moyen;
    height: 80px;
    @media screen and (min-width: 1200px) {
        width: 32%;
    } 
    @media screen and (min-width: 1600px) {
        width: 30%;
    } 
    .details_nombres {
        @include flex_center();
        position: relative;
        left: -5px;
        background-color: $couleur-primaire;
        color: $blanc;
        width: $espacement_moyen;
        height: $espacement_moyen;
        align-items: center;
        border-radius: 10px;
        font-size: small;
    }
    .fas {
        @include marges-auto(25px);
        color: $couleur-primaire;
    }
    .details_phrases {
        margin-left: 0;
        margin-right: auto;
        @media screen and (min-width: 768px) and (max-width: 1199px) {
            margin-left: 50px;
        }
        @media screen and (min-width: 768px) and (max-width: 5000px) {
            margin-left: auto;
            font-size: 1.4em;
        }
    }
    &:hover {
        background-color: lighten($couleur-primaire, 36%);
        box-shadow: 0 5px 3px darken($blanc, 15%);
    }
}

/* liste des restaurants*/

.Liste_restaurants {
    background-color: darken($blanc, 3%);
    padding-bottom: 100px;
    padding-top: 40px;
    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
    }
    > h2 {
        width: 150px;
        @include marges-auto();
        position: relative;
        left:-75px;
        @media screen and (min-width: 768px) {
            padding-left:40%;
            padding-right:40%;
            position: inherit;
            @include marges-auto();
            margin-bottom: 50px;
            font-size: 2em;
        }
    }
    .restaurants {
        min-width: 300px;
        height: 240px;
        background-color: $blanc;
        border-radius: $espacement_moyen;
        box-shadow: 0 4px 4px darken($blanc, 10%);
        color:$noir;
        margin-bottom: $espacement_moyen;
        overflow: hidden;
        @media screen and (min-width: 768px) {
            width:370px;
            display: flex;
            margin-bottom: 40px;
        }
        @media screen and (min-width: 1000px) {
            width:420px;
            height: 260px;
            display: flex;
            margin-bottom: 50px;
        }
        @media screen and (min-width: 1200px) {
            min-width: 280px;
            width:18%;
            height: 300px;
            display: flex;
            justify-content: space-between;
            margin-bottom: 50px;
        }
        @media screen and (min-width: 1400px) {
            width:22%;
            height: 300px;
            display: flex;
            margin-bottom: 50px;
        }
        &:hover a img {
            transform:scale(1.25);
            transform-origin: bottom;
            transition: all 0.4s;
        }
        .restaurant--picture {
            width: 100%;
            height: 150px;
            object-fit: cover;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            transition: all 0.4s;
            transform-origin: bottom;
            @media screen and (min-width: 1000px) {
                height: 175px;
            }
            @media screen and (min-width: 1200px) {
                height: 190px;
            }
            @media screen and (min-width: 1400px) {
                height: 200px;
            }
        }
        h2 {
            @include marges-auto($espacement_moyen); 
            font-size:1.2em;
            margin-bottom: $espacement_petit;
        }
        .restaurant_localisation {
            @include font-text($textefin);
            @include marges-auto($espacement_moyen);
        }
        .fa-heart {
            width:20px;
            height: 20px;
            margin-left: 90%;
            @include flex_center();
            align-items: center;
            position: relative;
            left: -20px;
            top: -30px;
            color: grey;
            transition: transform 400ms, color 400ms;
            &:hover + .coeur {
                transform: scale(1);
            }
            &:hover {
                background: -webkit-linear-gradient(top right, $couleur-primaire, $couleur-secondaire);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
        .coeur {
            margin-left: 90%;
            position: relative;
            left: -20px;
            top: -50px;
            transform-origin: 10px 5px;
            transform: scale(0);
            background: -webkit-linear-gradient(top right, $couleur-primaire, $couleur-secondaire);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            &:hover {
                transform: scale(1);
            }
        }
    }
}
