/* footer */
footer {
    @include font-logo();
    padding-left: $espacement_moyen;
    padding-top: $espacement_moyen;
    margin-top: -50px; /* sert a corriger l'écart produit par le changement de position sous la bannière */
    padding-bottom: 2px;
    color : $blanc;
    background-color: $gris-sombre;
    .titre_footer {
        font-size: 1em;
        @media screen and (min-width: 768px) {
            font-size: 1.5em;
            display: flex;
            justify-content: center;
        } 
        @media screen and (min-width: 1200px) {
            font-size: 2em;
            display: flex;
            justify-content: center;
        } 
    }
    .infos_footer {
        @include font-text();
        ul {
            list-style-type: none;
            padding-left: 0;
            @media screen and (min-width: 768px) {
                display: flex;
                justify-content: space-between;
                margin-right: 5%;
                margin-left: 5%;
            } 
            @media screen and (min-width: 1000px) {
                display: flex;
                justify-content: space-between;
                margin-right: 10%;
                margin-left: 10%;
            } 
            @media screen and (min-width: 1500px) {
                display: flex;
                justify-content: space-between;
                margin-right: 20%;
                margin-left: 20%;
            } 
            li {
                margin-bottom: $espacement_petit;
            }
        }
        .fa-utensils, .fa-hands-helping {
            margin-right: $espacement_petit;
            width: $espacement_moyen;
        }
    }
    .footer_contact {
        color:$blanc;
        &:hover {
            color: darken($gris-clair, 20%);
        }
    }
}